// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@charset "utf-8";
html{
  font-size: 14px;
}
.padding{
  padding: 0;
}
p{margin: 0;padding: 0;}
.pane,.view{background-color: #f1f1f1;}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input,select{
  background-color: #fff;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
a:hover, a:visited, a:link, a:active {
  color:#313131;
  text-decoration: none;
}

ul,li{ padding:0;margin:0;list-style:none}

ion-app.md [padding] .scroll-content{
  padding: 0 !important;
}
.scroll-content{
  padding: 0 !important;
}


ion-app.md{
  font-size: 14px;
}
.content-md{
  background-color: #e7e7e7;
}

.icon{
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*width:16px;
  height: 16px;*/

}
.img{
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
  height: 100%;
}
